.button {
    padding: 3px;
    border: 1px solid #555557;
    background-color: transparent;
    border-radius: 4px;
    color: #555557;
    text-decoration: none;

    &:hover:not(:disabled) {
        cursor: pointer;
        opacity: .8;
    }

    &:disabled {
        color: #ccc;
        border-color: #ccc;
    }
}